<div class="user-details">
  <h1> Featured Projects </h1>
</div>


<!-- Second Proyect -->
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Plateform </h3>

    <p>It's a meal-sharing web app that allows users to to publish dinners. When a user publishes a dinner, he/she specifies what he/she will be cooking, location, time, categories (f.e. vegetarian), how many guest does can he/she host and how much he is going to charge each guest to help out with the cost of groceries.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<!-- Third Proyect -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Test Driven Development </h3>

    <p>TDD's benefits are no secret, so it's important to be familar with the frameworks used and how to test stuff, I've made a couple of projects dedicated exclusively to practice TDD in RSpec and other tools like the Faker gem and FactoryBot.</p>
    <ul>
      <li><a href="https://github.com/mickeytgl/food_finder">Food Finder</a></li>
      <li><a href="https://github.com/mickeytgl/food_finder">Testing App</a></li>
      <li><a href="https://github.com/mickeytgl/food_finder">Dog RSpec</a></li>
    </ul>
  </div>
</div>

<!-- Fourth Proyect -->
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Trello clone </h3>

    <p>Trello clone with using Vue.js and AJAX. Add lists and cards, move them around, watch it all work thanks to Vue and Vuex for State Magagement,</p>
      <a class="project-link" href="http://wz53.hatchboxapp.com/">Check it out</a>

  </div>
</div>
